body::before {    
      content: "";
      background-image: url("./images/sindar_background_compressed.png");
      background-size: cover;
      background-position: center;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.15;
      z-index: -1;
}

section {
	padding: 10px 0px 10px 0px;
}

#map {
	height: 60vh;
	border: solid black 1px;
	margin-bottom: 40px;
}

#bottomPaddingDiv {
	height: 20vh;
}

#commentsContainer {
	width: 100%;
	border: solid black 1px;
}

#commentsScrollbox {
	overflow-y: scroll;
	max-height: 60vh;
}

#commentsTitle {
	margin: 0;
	padding: 5px;
	border-bottom: solid black 1px;
	background-color: white;
}

#commentsTitle > span {
	font-size: 20px;
}

.comment {
	padding: 5px;
}
.comment:nth-last-child(2n+0) {
	background-color: rgb(245, 232, 252);
}
.comment:nth-last-child(2n+1) {
	background-color: rgb(254, 255, 245);
}


.commentName {
	font-weight: bold;
	font-size: 16px;
	padding: 3px 0 0 8px;
}
.commentTimestamp {
	font-weight: lighter;
	color: grey;
	padding-left: 5px;
}
.commentText {
	padding: 2px 0 0 13px;
	width: 100%;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

input#commentNameInput {
	width: 50%;
}

textArea#commentTextInput {
	width: 100%;
	height: 200px;
	resize: None;
}


.comment.newComment{
	position:relative;
	animation:animatetop 0.4s}
@keyframes animatetop{
	from{
		top: -300px;
		opacity: 0
	}
	to{
		top: 0;
		opacity: 1
	}
}


.paused {
	filter: grayscale(1);
}

#commentSendingMessage {
	display: none;
}
#commentSendingMessage.active {
	display: inline;
}

#commentsTitle.refreshing > #commentsRefreshBtn {
	display: none;
}

#commentsRefreshSpinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-block;
  position: relative;
  top: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#commentsTitle:not(.refreshing) > #commentsRefreshSpinner {
	display: none;
}

.normal_text {
	font-size: 16px;
	margin-bottom: 0;
	display: inline;
}

.mini_text {
	font-size: 8px;
	margin-bottom: 0;
}

#insta_icon {
	height: 24px;
	width: 24px;
	display: inline-block;
	margin: auto;
	position: relative;
	top: -1px;
}

#insta_icon:hover {
	filter: brightness(1.3) drop-shadow(0 0 3px hotpink);
}
